/* Default styles for observable-press */
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 3em 0 2em;
}

.loading {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

.error {
    background: red;
}

.pending {
    background: rgba(0,0,0,0.2);
}
