/* Default styles for observable-press */
html,body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

.loading {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.error {
    background: red;
}

.pending {
    background: rgba(0,0,0,0.2);
}

.cite {
    position: fixed;
    bottom: 1em;
    left: 1em;
    padding: 0.5em 1em;
    background: rgba(255,255,255,0.5);
    color: black;
    border: 1px solid rgba(0,0,0,0.25);
    font-size: 0.8em;
    text-decoration: none;
    border-radius: 1em;
    z-index: 1;
}

.content.override-height {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}